{% extends 'core/base.html' %}
{% block title %}Catalog{% endblock %}
{% block content %}
    <h1 class="title-1">Create_order</h1>
    <div class="d-flex">
        <div class="d-flex my-5 gap-5 justify-content-center flex-wrap">
            <img src="{{ product.image.url }}"
                 class="card-img-top rounded-2 object-fit-cover"
                 alt="..." style="width: 18rem; height: 18rem;">
            <div>
                <div class="d-flex gap-1">
                    <span class="card-title fw-bold fs-2 m-0">{{ product.price }}</span>
                    <span class="card-title fs-5 text-danger mb-auto">-{{ product.discount }}%</span>
                </div>
                <h3 class="card-title fs-4">{{ product.name }}</h3>
                <span class="card-title fs-4">{{ product.desc }}</span>
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="delivery_address" placeholder="Адрес доставки">
            <button type="submit">Кнопка подтверждения отправки</button>
        </form>
    </div>
{% endblock %}