{% extends 'core/base.html' %}
{% block title %}Catalog{% endblock %}
{% block content %}
    <h1 class="title-1 text-center my-3">Order</h1>
    <div class="d-flex flex-column justify-content-center gap-3 mx-auto" style="width: 500px">
        {% for order in orders %}
            <div class="d-flex flex-column gap-1 justify-content-center flex-wrap border-2
        rounded-3 p-3 border-secondary border border-opacity-25" style="width: 500px">
                <div class="d-flex gap-1">
                    <span class="card-title fw-bold fs-2 m-0">{{ order.product.price }}</span>
                    <span class="card-title fs-5 text-danger mb-auto">{{ order.product.discount }}%</span>
                </div>
                <h3 class="card-title fs-4">{{ order.product.name }}</h3>
                <span class="card-title fs-4">{{ order.delivery_address }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}